<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Nature_of_complaint1</servlet-name>
        <servlet-class>main.Nature_of_complaint1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Nature_of_complaint1_Register</servlet-name>
        <servlet-class>main.Nature_of_complaint1_Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>noc1</servlet-name>
        <servlet-class>main.noc1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Category_of_problem</servlet-name>
        <servlet-class>main.Category_of_problem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Category_of_problem_Register</servlet-name>
        <servlet-class>main.Category_of_problem_Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cop</servlet-name>
        <servlet-class>main.cop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>e</servlet-name>
        <servlet-class>main.e</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Electrical</servlet-name>
        <servlet-class>main.Electrical</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Electrical_Register</servlet-name>
        <servlet-class>main.Electrical_Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mechanical_Register</servlet-name>
        <servlet-class>main.Mechanical_Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mechanical</servlet-name>
        <servlet-class>main.Mechanical</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>m</servlet-name>
        <servlet-class>main.m</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Refrigeration</servlet-name>
        <servlet-class>main.Refrigeration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Refrigeration_Register</servlet-name>
        <servlet-class>main.Refrigeration_Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>r</servlet-name>
        <servlet-class>main.r</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Assign_Register</servlet-name>
        <servlet-class>main.Assign_Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Assign</servlet-name>
        <servlet-class>main.Assign</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>a</servlet-name>
        <servlet-class>main.a</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Nature_of_complaint1</servlet-name>
        <url-pattern>/Nature_of_complaint1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Nature_of_complaint1_Register</servlet-name>
        <url-pattern>/Nature_of_complaint1_Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>noc1</servlet-name>
        <url-pattern>/noc1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Category_of_problem</servlet-name>
        <url-pattern>/Category_of_problem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Category_of_problem_Register</servlet-name>
        <url-pattern>/Category_of_problem_Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cop</servlet-name>
        <url-pattern>/cop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>e</servlet-name>
        <url-pattern>/e</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Electrical</servlet-name>
        <url-pattern>/Electrical</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Electrical_Register</servlet-name>
        <url-pattern>/Electrical_Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mechanical_Register</servlet-name>
        <url-pattern>/Mechanical_Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mechanical</servlet-name>
        <url-pattern>/Mechanical</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>m</servlet-name>
        <url-pattern>/m</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Refrigeration</servlet-name>
        <url-pattern>/Refrigeration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Refrigeration_Register</servlet-name>
        <url-pattern>/Refrigeration_Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>r</servlet-name>
        <url-pattern>/r</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Assign_Register</servlet-name>
        <url-pattern>/Assign_Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Assign</servlet-name>
        <url-pattern>/Assign</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>a</servlet-name>
        <url-pattern>/a</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
