<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>equipment_master</servlet-name>
        <servlet-class>main.equipment_master</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>customer_master</servlet-name>
        <servlet-class>main.customer_master</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Company_master</servlet-name>
        <servlet-class>main.Company_master</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Equipment_master</servlet-name>
        <servlet-class>main.Equipment_master</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Machine_type</servlet-name>
        <servlet-class>main.Machine_type</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>customer_master1</servlet-name>
        <servlet-class>main.customer_master1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>status_master</servlet-name>
        <servlet-class>main.status_master</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Company_master_Register</servlet-name>
        <servlet-class>main.Company_master_Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Equipment_master_Register</servlet-name>
        <servlet-class>main.Equipment_master_Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Machine_type_Register</servlet-name>
        <servlet-class>main.Machine_type_Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>customer_master1_Register</servlet-name>
        <servlet-class>main.customer_master1_Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>status_master_Register</servlet-name>
        <servlet-class>main.status_master_Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cm</servlet-name>
        <servlet-class>main.cm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sm</servlet-name>
        <servlet-class>main.sm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>em</servlet-name>
        <servlet-class>main.em</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mt</servlet-name>
        <servlet-class>main.mt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cuma</servlet-name>
        <servlet-class>main.cuma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Responsible_Engineer</servlet-name>
        <servlet-class>main.Responsible_Engineer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Responsible_Engineer_Register</servlet-name>
        <servlet-class>main.Responsible_Engineer_Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sold_by</servlet-name>
        <servlet-class>main.Sold_by</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sold_by_Register</servlet-name>
        <servlet-class>main.Sold_by_Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sb</servlet-name>
        <servlet-class>main.sb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Type_of_visit_Register</servlet-name>
        <servlet-class>main.Type_of_visit_Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Type_of_visit</servlet-name>
        <servlet-class>main.Type_of_visit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tov</servlet-name>
        <servlet-class>main.tov</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Status_Register</servlet-name>
        <servlet-class>main.Status_Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Status</servlet-name>
        <servlet-class>main.Status</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>s</servlet-name>
        <servlet-class>main.s</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Machine_type1_Register</servlet-name>
        <servlet-class>main.Machine_type1_Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Machine_type1</servlet-name>
        <servlet-class>main.Machine_type1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mt1</servlet-name>
        <servlet-class>main.mt1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Equipment_master1_Register</servlet-name>
        <servlet-class>main.Equipment_master1_Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Equipment_master1</servlet-name>
        <servlet-class>main.Equipment_master1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>em1</servlet-name>
        <servlet-class>main.em1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>r</servlet-name>
        <servlet-class>main.r</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Responsible_Engineer_alter</servlet-name>
        <servlet-class>main.Responsible_Engineer_alter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Responsible_Engineer_alter_save</servlet-name>
        <servlet-class>main.Responsible_Engineer_alter_save</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Responsible_Engineer_alter_delete</servlet-name>
        <servlet-class>main.Responsible_Engineer_alter_delete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>equipment_master</servlet-name>
        <url-pattern>/equipment_master</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customer_master</servlet-name>
        <url-pattern>/customer_master</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Company_master</servlet-name>
        <url-pattern>/Company_master</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Equipment_master</servlet-name>
        <url-pattern>/Equipment_master</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Machine_type</servlet-name>
        <url-pattern>/Machine_type</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customer_master1</servlet-name>
        <url-pattern>/customer_master1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>status_master</servlet-name>
        <url-pattern>/status_master</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Company_master_Register</servlet-name>
        <url-pattern>/Company_master_Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Equipment_master_Register</servlet-name>
        <url-pattern>/Equipment_master_Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Machine_type_Register</servlet-name>
        <url-pattern>/Machine_type_Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>customer_master1_Register</servlet-name>
        <url-pattern>/customer_master1_Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>status_master_Register</servlet-name>
        <url-pattern>/status_master_Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cm</servlet-name>
        <url-pattern>/cm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sm</servlet-name>
        <url-pattern>/sm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>em</servlet-name>
        <url-pattern>/em</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mt</servlet-name>
        <url-pattern>/mt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cuma</servlet-name>
        <url-pattern>/cuma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Responsible_Engineer</servlet-name>
        <url-pattern>/Responsible_Engineer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Responsible_Engineer_Register</servlet-name>
        <url-pattern>/Responsible_Engineer_Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sold_by</servlet-name>
        <url-pattern>/Sold_by</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sold_by_Register</servlet-name>
        <url-pattern>/Sold_by_Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sb</servlet-name>
        <url-pattern>/sb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Type_of_visit_Register</servlet-name>
        <url-pattern>/Type_of_visit_Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Type_of_visit</servlet-name>
        <url-pattern>/Type_of_visit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tov</servlet-name>
        <url-pattern>/tov</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Status_Register</servlet-name>
        <url-pattern>/Status_Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Status</servlet-name>
        <url-pattern>/Status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>s</servlet-name>
        <url-pattern>/s</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Machine_type1_Register</servlet-name>
        <url-pattern>/Machine_type1_Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Machine_type1</servlet-name>
        <url-pattern>/Machine_type1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mt1</servlet-name>
        <url-pattern>/mt1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Equipment_master1_Register</servlet-name>
        <url-pattern>/Equipment_master1_Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Equipment_master1</servlet-name>
        <url-pattern>/Equipment_master1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>em1</servlet-name>
        <url-pattern>/em1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>r</servlet-name>
        <url-pattern>/r</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Responsible_Engineer_alter</servlet-name>
        <url-pattern>/Responsible_Engineer_alter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Responsible_Engineer_alter_save</servlet-name>
        <url-pattern>/Responsible_Engineer_alter_save</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Responsible_Engineer_alter_delete</servlet-name>
        <url-pattern>/Responsible_Engineer_alter_delete</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
